In [1]:
# Numpy Exercise1

In [2]:
import numpy as np

In [3]:
# 2.Create an array of 10 zeros  
a = np.zeros((1,10))
a

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [4]:
# 3.Create an array of 10 ones 
np.ones((1,10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [5]:
# 4.Create an array of the integers from 10 to 50
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [6]:
# 5.Create an array of all the even integers from 10 to 50
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [7]:
# 6.Create a 3x3 matrix with values ranging from 0 to 8
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
# 7. Create a 3x3 identity matrix 
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
# 8. use NumPy to generate a random number between 0 to 1
#np.random.seed(100)
np.random.randint(0,1)

0

In [10]:
#9. Use Numpy to generate an array of 25 random numbers sampled from 
#    a standard normal distribution
np.random.standard_normal(25)

array([ 1.20776970e+00,  8.81873927e-01,  2.13552567e-01, -1.07957974e+00,
        1.33002443e+00,  1.07341463e+00,  1.56525220e-01,  1.64767474e+00,
        5.06243459e-04,  1.73254987e+00, -3.14050253e-01,  2.85624086e+00,
       -4.51684056e-01,  7.89489466e-01,  9.23490236e-01,  7.98930859e-01,
       -1.59605475e-01,  2.68394330e-01,  3.94863557e-01,  5.92823941e-01,
       -1.93162687e+00,  8.58666287e-01,  9.74174272e-02, -9.19979803e-01,
       -8.01146635e-01])

np.linspace?

In [12]:
# 10. Create a matrix of 10x10 matrix of linearly spaced elements from 0.01 to 1
np.linspace(0.01,1,100).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [13]:
# 11. Create an array of 20 linearly spaced points between 0 and 1 
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [14]:
# 12.Create a 5x5 matrix
d = np.arange(1,26).reshape(5,5)
d

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [15]:
#  a.array([[12, 13, 14, 15], 
#[17, 18, 19, 20], 
#[22, 23, 24, 25]])
d[2:5,1:5]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [16]:
#  b. 20
d[3,4]

np.int64(20)

In [17]:
#  c.array([[ 2], 
#  [ 7], 
#  [12]]) 
e=d[0:3,1]
e
e[:,np.newaxis]

array([[ 2],
       [ 7],
       [12]])

In [18]:
# d.array([21, 22, 23, 24, 25])
d[4,0:5]

array([21, 22, 23, 24, 25])

In [19]:
# e.array([[16, 17, 18, 19, 20], 
# [21, 22, 23, 24, 25]])
d[3:5,0:5]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [20]:
# 13. Get sum of all values in matrix 
np.sum(d)

np.int64(325)

In [21]:
#14. Get sum of all the columns in matrix 
np.sum(d,axis=0)

array([55, 60, 65, 70, 75])

In [22]:
# 15. Get Standard deviation , varience , minimum, maximum from matrix row wise.
np.std(d,axis=1)

array([1.41421356, 1.41421356, 1.41421356, 1.41421356, 1.41421356])

In [23]:
np.var(d,axis=1)

array([2., 2., 2., 2., 2.])

In [24]:
np.min(d,axis=1)

array([ 1,  6, 11, 16, 21])

In [25]:
np.max(d,axis=1)

array([ 5, 10, 15, 20, 25])

# Numpy Exercise 2

In [26]:
# 1. Create 1-D, 2-D and 3-D numpy array 
l = np.arange(0,5)
m = np.arange(0,10).reshape(2,5)
n = np.arange(0,27).reshape(3,3,3)
print(l,m,n)

[0 1 2 3 4] [[0 1 2 3 4]
 [5 6 7 8 9]] [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

In [29]:
#2. Print data type of array. 
l.dtype
m.dtype
n.dtype

dtype('int64')

In [33]:
# 3. Print shape and dimensions of all the three different array.
np.ndim(l)
np.shape(l)

(5,)

In [39]:
# 4. Create another 1-D array of 12 elements filled with zero 
f = np.zeros((1,13))
f

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [44]:
# 5. Create another 2-D array elements filled with ones. 
g = np.ones(16).reshape(4,4)
g

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [48]:
# 6. Create a 1-D array known as Maths Marks out of 100 having 20 elements.
np.random.seed(101)
q=np.random.randint(0,100,20)
q

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40,  4, 63, 40, 60, 92, 64,  5,
       12, 93, 40], dtype=int32)

In [61]:
# 7. Sort the above array in ascending and descending order.
q.sort()
p=q[::-1]
p

array([95, 93, 92, 87, 81, 77, 75, 70, 64, 63, 63, 60, 40, 40, 40, 12, 11,
        9,  5,  4], dtype=int32)

In [63]:
# 8. Create a copy of sorted array to another variable by deep copying.
d = p.reshape(5,4)
d

array([[95, 93, 92, 87],
       [81, 77, 75, 70],
       [64, 63, 63, 60],
       [40, 40, 40, 12],
       [11,  9,  5,  4]], dtype=int32)

In [65]:
v = d[0:4,1:3].copy()
v

array([[93, 92],
       [77, 75],
       [63, 63],
       [40, 40]], dtype=int32)

In [70]:
# 9. Create 2-D array of 5x5 which is an identity matrix and then convert 1D .
p = np.eye(5,5)
p.reshape(25)

array([1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 1.])

In [83]:
# 10. Create 2-D array of 3x3. Add one more row to it.
u = np.arange(1,10).reshape(3,3)
v=np.array((10,11,12))
f =np.vstack((u,v))
f

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [90]:
# 11. Split above array created vertically and horizontally. 
x = np.arange(16.0).reshape(4, 4)
x
np.vsplit(x,2)
np.hsplit(x,2)

[array([[ 0.,  1.],
        [ 4.,  5.],
        [ 8.,  9.],
        [12., 13.]]),
 array([[ 2.,  3.],
        [ 6.,  7.],
        [10., 11.],
        [14., 15.]])]

np.vsplit?

In [95]:
# 12. Create 4x4 identity matrix. Add 4 to each element.
w = np.eye(4)
w+4

array([[5., 4., 4., 4.],
       [4., 5., 4., 4.],
       [4., 4., 5., 4.],
       [4., 4., 4., 5.]])

In [102]:
#13. Create 1-D array. Initialize with floating point values. Display its ceil, 
# floor and round (with 2 decimal’s). 
r = np.array((1.23,2.56,3.45,8.97))
np.ceil(r)
np.floor(r)
np.round(r,2)

array([1.23, 2.56, 3.45, 8.97])

In [105]:
# 14. Create 5x5 matrix. Display min, max, variance and standard deviation column-wise
np.random.seed(100)
t = np.random.randint(1,100,25).reshape(5,5)
t

array([[ 9, 25, 68, 88, 80],
       [49, 11, 95, 53, 99],
       [54, 67, 99, 15, 35],
       [25, 16, 61, 59, 17],
       [10, 94, 87,  3, 28]], dtype=int32)

In [106]:
np.min(t)

np.int32(3)

In [107]:
np.max(t)

np.int32(99)

In [108]:
np.var(t)

np.float64(1030.2656000000002)

In [111]:
np.std(t,axis=1)

array([31.28577952, 32.57974831, 28.55170748, 20.17523234, 38.57771377])

In [115]:
# 15. Create a null vector of size 10 with 6th value filled with 200. 
t1 = np.full((10),np.nan)
t1[6]=200
t1

array([ nan,  nan,  nan,  nan,  nan,  nan, 200.,  nan,  nan,  nan])

In [117]:
# 16. Create a 1-D Array/Vector with values ranging from 100 to 150 in sequence. 
c1=np.arange(100,151)
c1

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150])

In [118]:
# 17. Reverse the above vector. 
c1[::-1]

array([150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139, 138,
       137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 125,
       124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113, 112,
       111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100])

In [119]:
# 18. Create a 5x5 matrix with values ranging from 0-24 using some function. 
r1 = np.arange(0,25).reshape(5,5)
r1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [121]:
# 19. Find indices of nonzero elements from [1,0,2,0,0,4,0,8] 
d1=np.array((1,0,2,0,0,4,0,8))
d1
np.nonzero(d1)

(array([0, 2, 5, 7]),)

In [126]:
# 20. Create a 10x10 matrix with 1 on the borders and 0 inside.
p1 = np.ones((10,10))
p1[1:9,1:9]=0
p1

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [127]:
# 21. Create 8x8 matrix and fill with 1 and 0 in checkerboard pattern. 
arr4 = np.zeros((8,8))
arr4[::2,::2]=1
arr4[1::2,1::2]=1
arr4

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

In [128]:
# 22. Create two 3x3 matrix with random integer values. Perform matrix 
# addition, multiplication and subtraction
np.random.seed(101)
q1 = np.random.randint(1,100,9).reshape(3,3)
q2 = np.random.randint(1,100,9).reshape(3,3)
print(q1,q2)

[[96 12 82]
 [71 64 88]
 [76 10 78]] [[41  5 64]
 [41 61 93]
 [65  6 13]]

In [129]:
np.add(q1,q2)

array([[137,  17, 146],
       [112, 125, 181],
       [141,  16,  91]], dtype=int32)

In [130]:
np.multiply(q1,q2)

array([[3936,   60, 5248],
       [2911, 3904, 8184],
       [4940,   60, 1014]], dtype=int32)

In [131]:
np.subtract(q1,q2)

array([[55,  7, 18],
       [30,  3, -5],
       [11,  4, 65]], dtype=int32)